@mixin lightMode() {
	--text-color: #111;
	--link-color: #9f0dcd;
	--background-color: #eee;
}

@mixin darkMode() {
	--text-color: #fff;
	--link-color: #faf697;
	--background-color: #222;
}

body {
	@include lightMode();
	&.is_inverted {
		@include darkMode();
	}
	@media (prefers-color-scheme: dark) {
		@include darkMode();
		&.is_inverted {
			@include lightMode();
		}
	}

	background-color: var(--background-color);
	color: var(--text-color);
}
