@mixin lightMode() {
	--text-color: #111;
	--link-color: #9f0dcd;
	--background-color: #eee;
	--movie-tile: rgb(225, 182, 182);
}

@mixin darkMode() {
	--text-color: #fff;
	--link-color: #faf697;
	--background-color: #222;
	--movie-tile: rgb(155, 129, 129);
}

@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap");

body {
	@include lightMode();
	&.is_inverted {
		@include darkMode();
	}
	@media (prefers-color-scheme: dark) {
		@include darkMode();
		&.is_inverted {
			@include lightMode();
		}
	}

	font-family: "Source Sans Pro", sans-serif;
	background-color: var(--background-color);
	color: var(--text-color);
	display: flex;
	justify-content: center;
}
