.movie-tile {
	min-height: 90vh;
	display: flex;
	flex-direction: column;
	justify-content: center;

	button {
		align-self: flex-end;
		padding: 0.5rem 0.75rem;
		background-color: var(--button-color);
		border: none;
		border-radius: 0.25rem;

		&:hover {
			background-color: var(--button-color);
			cursor: pointer;
		}
	}

	.counter {
		margin: 1rem;
		font-size: 1.25rem;
	}
}

.movie-section {
	display: flex;
	align-items: center;
	flex-direction: column;
	gap: 2rem;

	.movie-poster {
		height: 50%;
		width: 50%;
	}

	@media (min-width: 768px) {
		flex-direction: row;

		.movie-poster {
			height: 30%;
			width: 30%;
		}

		h1 {
			font-size: 2.5rem;
		}
		h2 {
			font-size: 2rem;
		}
		p {
			font-size: 1.5rem;
		}
	}
}
